
body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(78,41,18);
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(56,118,40);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 40px;
    width: 100%;
    box-sizing: border-box;
}

.header-left {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

header img {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    font-size: 18px;
}

nav a:hover {
    color: #F0B35E;
}

main {
    padding: 40px 20px;
    text-align: center;
}

.welcome h2 {
    margin-bottom: 50px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    border: 4px solid rgb(56,118,40);
    border-radius: 10px;
    transition: 0.3s;
}

footer {
    background-color: rgb(56,118,40);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

footer h2 {
    margin: 0;
}
