body {
    font-family: inter;
    background-color: rgb(78,41,18);
    color: white;
}
nav{
    
    position: relative;
    bottom: 40px;
    text-size-adjust: 20px;
    left: 300px;
}

header{
    background-color: rgb(56,118,40);
    text-decoration: none;
    position: relative;
    bottom: 90px;
    right: 8px;
}

.welcome{
    position: relative;
    bottom: 80px;
    
}

header img{
    position: relative;
    bottom: -30px;
    left: 140px;
    background-color: rgb(56,118,40)
}

header h1{
    position: relative;
    bottom: -100px;
    background-color: rgb(56,118,40);
    margin-left:10px;
}

.welcome_2{
    position: relative;
    bottom: 283px;
    left: 335px;
}

.welcome_3{
    position: relative;
    bottom: 566px;
    left: 670px;
}

.welcome_1{
    position: relative;
    left: 7px;
}    

a{
    text-decoration: none;
    color:white
}
