body {
    font-family: inter;
    background-color: rgb(78,41,18);
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(56,118,40);
    width: 100%;
    padding: 10px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 40px;
}

.logo-group {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
}

header img {
    margin-left: 15px;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.content-area {
    padding: 20px;
}

.content-area h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #F0B35E; 
}

h2 {
    font-weight: normal;
    line-height: 1.6;
}

footer {
    background-color: rgb(56,118,40);
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}
